.contact-body {
    width: 758px;
    min-height: 450px;
    background-color: var(--base-color);
    border: 1px solid var(--borders);
    border-radius: 16px;
    padding: 24px 20px 20px;
    margin: 32px 0px;
}

#contact-section>.section-body {
    padding-top: 60px;
}

.contact-input>h4 {
    margin-bottom: 10px;
}

input {
    background-color: var(--main-color);
    border: 1px solid var(--borders);
    border-radius: 16px;
    height: 12px;
    width: 738px;
    padding: 16px 12px;
}